<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpmecook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kjb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".displayingred"></activity>
        <activity android:name=".displayfood" />
        <activity android:name=".generatefood" />
        <activity android:name=".ingredlist" />
        <activity android:name=".foodlist" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>